/* Importamos las fuentes de la pagina */
@font-face {
    font-family: 'Barlow';
    src: url('../Fonts/Barlow/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} /* NORMAL */

@font-face {
    font-family: 'Barlow-ExtraBold';
    src: url('../Fonts/Barlow/Barlow-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} /* MUY ANCHA */

@font-face {
    font-family: 'Barlow-Bold';
    src: url('../Fonts/Barlow/Barlow-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} /* ANCHA */

/* Estilizar la sección principal del código */
main {
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    background-color: transparent; /* Fondo transparente */
    padding: 2em; /* Espaciado interno de 2em */
}

/* Selector universal para algunos estilos aplicables */
* {
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina rellenos predeterminados */
    font-family: 'Barlow', sans-serif; /* Aplica la fuente 'Barlow' */
}

/* Estilos para la selección de texto */
::selection { 
    background: #000000; /* Color negro para el fondo */
    color: #fff; /* Color blanco para el texto seleccionado */
}

/* Estilos para el cuerpo del documento */
body {
    background-color: #fcfcfc; /* Fondo blanco */
}

/* Estilos para el encabezado */
header {
    width: 100%; /* Ancho completo */
    margin-top: 3.8em; /* Margen superior de 3.8em */
    background-color: #ffffff; /* Fondo blanco */
    display: inline-block; /* Muestra en línea */
    text-align: center; /* Texto centrado */
    border-top: 2px solid #2a2a2a20; /* Borde superior */
    border-bottom: 2px solid #25252557; /* Borde inferior */
}

/* Estilos para el título principal */
h1 {
    text-align: center; /* Texto centrado */
    font-size: 1.3em; /* Tamaño de fuente */
    color: #1f1f1f; /* Color de texto */
    padding: 15px; /* Relleno interno */
    font-weight: 800; /* Grosor de la fuente */
    font-family: 'Barlow'; /* Familia de la fuente */
    letter-spacing: .25em; /* Espaciado entre letras */
    background-color: transparent; /* Fondo transparente */
}

/* Selector de clase para la barra de navegación */
.navbar {
    position: fixed; /* Fija el menú en la ventana del navegador */
    width: 100%; /* Establece el ancho del menú al 100% de la ventana */
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    margin-top: -.4em; /* Margen superior negativo */
    display: inline-block; /* Muestra en línea */
    background-color: #ffffff; /* Fondo blanco */
    color: #ffffff; /* Color de texto blanco */
}

/* Selector de clase para contenedor fluido */
.container-fluid {
    display: flex; /* Muestra en flexbox */
    justify-content: space-around; /* Distribuye espacio alrededor de los elementos */
}

/* Selector de ID para el contador del carrito */
#Cart_counter {
    display: inline-block; /* Muestra en línea */
    color: rgb(255, 255, 255); /* Color de texto blanco */
    background-color: rgb(194, 0, 0); /* Fondo rojo */
    border-radius: 100%; /* Bordes redondeados */
    text-align: center; /* Texto centrado */
    line-height: 20px; /* Altura de línea */
    aspect-ratio: 1; /* Relación de aspecto */
    position: absolute; /* Posición absoluta */
    font-weight: 500; /* Grosor de la fuente */
    font-size: .7em; /* Tamaño de fuente */
    width: 20px; /* Ancho */
    height: 20px; /* Altura */
    align-items: center; /* Alineación de elementos */
    margin-left: -.7em; /* Margen izquierdo negativo */
}

/* Selector de clase para iconos SVG */
.SVG-icon {
    margin-right: 0vw; /* Margen derecho */
    display: inline-flex; /* Muestra en flexbox en línea */
    font-size: 1.7em; /* Tamaño de fuente */
    color: #090909; /* Color de texto */
    height: auto; /* Altura automática */
    font-weight: 900; /* Grosor de la fuente */
    margin-left: .5em; /* Margen izquierdo */
}

/* Selector de ID para el elemento temporal */
#temp {
    color: rebeccapurple; /* Color de texto */
    background-color: #000000; /* Fondo negro */
    padding: 2em; /* Relleno interno */
    position: relative; /* Posición relativa */
    margin: auto; /* Márgenes automáticos */
    border: 0; /* Sin borde */
}

/* Selector de clase para estilo de lista */
.li-style {
    display: flex; /* Muestra en flexbox */
    font-family: 'Barlow-Bold'; /* Familia de la fuente */
    font-weight: 900; /* Grosor de la fuente */
    background-color: transparent; /* Fondo transparente */
    color: #fff; /* Color de texto blanco */
    margin-left: 40vw; /* Margen izquierdo */
    flex-wrap: wrap; /* Permite el ajuste de los elementos */
    flex-direction: row; /* Dirección del flexbox */
}

/* Selector de clase para el controlador */
.controller {
    width: 90%; /* Ancho del 90% */
}

/* Selector de clase para centrar elementos */
.center {
    display: flex; /* Muestra en flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Selector de clase para el divisor */
.divider {
    display: flex; /* Muestra en flexbox */
    background-color: #bbbbbb5b; /* Fondo */
    width: 100%; /* Ancho completo */
    height: .1vh; /* Altura */
    margin-top: .0em; /* Margen superior */
    margin-bottom: .0em; /* Margen inferior */
    border-radius: 50px; /* Bordes redondeados */
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px; /* Ancho */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: rgb(199, 199, 199); /* Fondo */
}

/* Estilos para la manija de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: #333333; /* Fondo */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para la manija de la barra de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar:hover {
    background: #000000; /* Fondo */
}

/* Estilos para la expansión de la barra de navegación */
.navbar-expand {
    flex-wrap: nowrap; /* Sin ajuste de elementos */
    justify-content: flex-start; /* Alinea a la izquierda */
}

.navbar-expand .navbar-nav {
    flex-direction: row; /* Dirección del flexbox */
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute; /* Posición absoluta */
}

/* Estilos para el pie de página */
footer {
    display: flex; /* Muestra en flexbox */
    flex-wrap: wrap; /* Permite el ajuste de los elementos */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column; /* Dirección del flexbox */
    background-color: #000000; /* Fondo negro */
    color: #fff; /* Color de texto blanco */
    text-align: center; /* Texto centrado */
}

footer a { 
    /*Enlaces*/
    color: #fff; /* Color de texto blanco */
    padding: 2em; /* Relleno interno */
    font-size: 1.2rem; /* Tamaño de fuente */
    letter-spacing: .1em; /* Espaciado entre letras */
    text-transform: capitalize; /* Capitaliza el texto */
}

footer span i {
    font-size: 1.2rem; /* Tamaño de fuente */
    letter-spacing: 2rem; /* Espaciado entre letras */
    margin-top: 2em; /* Margen superior */
    margin-bottom: 2em; /* Margen inferior */
    margin-right: 0em; /* Margen derecho */
    margin-left: 0em; /* Margen izquierdo */
}

footer .down {
    display: block; /* Muestra como bloque */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #1b1b1b; /* Fondo */
    width: 100%; /* Ancho completo */
    padding: .5em 0em .5em 0em; /* Relleno interno */
}

footer .span {
    display: block; /* Muestra como bloque */
    background-color: transparent; /* Fondo transparente */
    width: 50%; /* Ancho del 50% */
    color: #fff; /* Color de texto blanco */
    margin: 2em; /* Margen */
}

.alert-style{
    position: fixed;
    margin-top: 70vh;
    margin-left: 50vw;
    z-index: 10;
    background-color: rgb(13, 158, 0);
    padding: .5em 2em;
    font-size: 1.2em;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    animation: alert linear alternate 2.5s ;
}

@keyframes alert {
    0% {
        transform: translateX(50vw);
    }
    15% {
        transform: translateX(25vw);
    }
    75%{
        transform: translateX(25vw);
    }
    90% {
        transform: translateX(50vw);
    }
    100% {
        transform: translateX(50vw);
    }
}


.ion--shirt-sharp {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M256 42c-33.88 0-64-10-64-10v2a64 64 0 0 0 128 0v-2s-30.12 10-64 10'/%3E%3Cpath fill='%23000' d='M352 44c-5.49 47.76-46.79 85-96 85s-90.51-37.24-96-85L16 94l18 114l61.71 7.42c7.08.9 7.1.9 7.1 8.19L96 480h320l-6.81-256.39c-.21-7-.21-7 7.1-8.19L478 208l18-114Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .hugeicons--running-shoes {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='%23000'%3E%3Cpath d='M19.101 18H7.963c-2.934 0-4.4 0-5.295-1.117c-1.697-2.12.237-7.76 1.408-9.883c.397 2.4 4.486 2.333 5.975 2c-.992-1.999.332-2.666.994-3h.002c2.953 3.5 9.268 5.404 10.815 9.219c.669 1.648-1.236 2.781-2.76 2.781'/%3E%3Cpath d='M2 14c4.165 1.43 6.731 1.844 10.022.804c.997-.315 1.495-.473 1.806-.452c.31.022.945.317 2.213.909c1.583.738 3.756 1.163 5.959.097M13.5 9.5L15 8m.5 3L17 9.5'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .fluent-emoji-high-contrast--jeans {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='%23000'%3E%3Cpath d='M16.01 4.62a.51.51 0 1 0 0-1.02a.51.51 0 0 0 0 1.02'/%3E%3Cpath d='M15.322 29.067a1 1 0 0 0-.587-1.082l1.384-9.697l1.775 9.652a1 1 0 0 0-.716 1.127l.17 1.017a1 1 0 0 0 1.076.832l9.167-.833a1 1 0 0 0 .909-.996v-.996a1 1 0 0 0-.566-.902a3.355 3.355 0 0 0-.033-.566l-3.087-23.06A2.93 2.93 0 0 0 21.918 1H9.95l-.05.002a2.92 2.92 0 0 0-2.76 2.624l-2.492 23.53A1 1 0 0 0 4 28.09v.996a1 1 0 0 0 .91.996l9.166.833a1 1 0 0 0 1.077-.832zm10.607-1.843l-6.037.524L17.01 12.07l.134-.061a.851.851 0 0 0 .86-.85l.009-5.146H20c-.023 1.088.33 2.23 1 3.088a5 5 0 0 0 1.833 1.193c.148.056.56.165.897.25L25.92 26.9c.016.108.019.217.01.324M15 12h-.003l-2.25 15.76l-6.094-.53l1.783-16.85l.169-.023c.185-.023.38-.047.519-.1A5.001 5.001 0 0 0 10.92 9.08c.688-.849 1.066-1.976 1.07-3.068h5.012v4.732a.26.26 0 0 1-.24.26H15.69s-.7.004-.7.844zM8.546 9.35l.353-3.338H11c-.002.855-.294 1.752-.83 2.418a4 4 0 0 1-1.46.92a.547.547 0 0 1-.164 0m.46-4.346l.124-1.175a.92.92 0 0 1 .87-.83h11.91a.93.93 0 0 1 .92.82l.159 1.185zm14.118 1.008l.46 3.446a8.87 8.87 0 0 1-.311-.081A4 4 0 0 1 21.8 8.45c-.529-.676-.81-1.58-.8-2.438z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .game-icons--underwear-shorts {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='m71.1 67.17l-4.28 38.43l379.28.7l-3.8-39.13zm-6.28 56.43L24.04 423.5c55.85 22.4 114.06 20.6 173.86 1L234 282.6c12.1 9 25.5 5.3 32.2-1l39.9 146.1c61.9 24.1 132 19.5 181.9 6l-40.2-309.4z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }


/*--------- EJEMPLO DE TABLAS ------------*/
/*
    table.separado {
    border-collapse: separate;
    border: 1px solid black;
}
    table {
    border-spacing: 10px; // Espacio entre celdas //
    caption-side: bottom; // Leyenda debajo de la tabla //
     empty-cells: hide;  Ocultar celdas vacías
}
*/


/*-- Ejemplo de INPUT focus ---*/
/*
input {
    border-radius: 10px;
    border: none; /* Elimina todos los bordes 
    border-top: 1px solid #3333331e; /* Añade solo el borde inferior 
    padding: 10px;
    font-size: 12px;
    margin: 0%;
    width: 100%;
    color: rgb(0, 15, 176);
    background-color: #94949414;
    animation: 0.3s ease;
}

input :focus{
    background-color: aqua;
    color: black;
}
/*---------------------------------*/


/* Media queries para pantallas medianas (992px a 1290px) */
@media (min-width: 992px) and (max-width: 1290px) {
    .li-style {
        flex-direction: row; /* Dirección del flexbox */
        margin-left: 30vw; /* Margen izquierdo */
    }
}

/* Media queries para pantallas pequeñas a medianas (768px a 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .container-fluid {
        justify-content: left; /* Justifica a la izquierda */
    }
    .li-style {
        flex-direction: column; /* Dirección del flexbox */
        background-color: transparent; /* Fondo transparente */
        margin-left: 0vw; /* Sin margen izquierdo */
    }
    .SVG-icon {
        margin-right: 0; /* Sin margen derecho */
    }

    .alert-style{
        margin-top: -5vh;
        margin-left: 50vw;
        padding: .5em 1em;
        font-size: .8em;
    }
    
    @keyframes alert {
        0% {
            transform: translateX(50vw);
        }
        15% {
            transform: translateX(25vw);
        }
        75%{
            transform: translateX(25vw);
        }
        90% {
            transform: translateX(50vw);
        }
        100% {
            transform: translateX(50vw);
        }
    }

}

/* Media queries para pantallas pequeñas (menores a 767px) */
@media screen and (max-width: 767px) {
    .container-fluid {
        justify-content: left; /* Justifica a la izquierda */
    }
    .li-style {
        margin-left: 0vw; /* Sin margen izquierdo */
        flex-direction: column; /* Dirección del flexbox */
    }
    .SVG-icon {
        margin-right: 0; /* Sin margen derecho */
    }
    footer a {
        padding: 1em .5em; /* Relleno interno */
    }
    footer .span {
        width: 90%; /* Ancho del 90% */
        margin: 0; /* Sin margen */
    }

    .alert-style{
        margin-top: -15vh;
        margin-left: 40vw;
        padding: .5em 1em;
        font-size: .8em;
    }
    
    @keyframes alert {
        0% {
            transform: translateX(40vw);
        }
        15% {
            transform: translateX(15vw);
        }
        75%{
            transform: translateX(15vw);
        }
        90% {
            transform: translateX(40vw);
        }
        100% {
            transform: translateX(40vw);
        }
    }
}




/*REFERENCIAS

https://getbootstrap.com/

----------*/